.text-platzi{
    color:#97c93e !important;
}

/* estilo a la imagen ppal // img dentro de carousel */
#main .carousel-inner img {
    max-height: 80vh; /* 70% del alto de la pantalla */
    object-fit: cover;

    filter:grayscale(70%);


    
}

/* colro de fondo */
#footer{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}

/* colro enlaces  */
#footer a{ 
    color:white;
}

#header img{
    width: 80px;
}